{% extends '::admin.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>Домашняя страница</h1>
    </div>
    <h3>Последние заказы</h3>
    <table class="table table-striped">
        <tr>
            <th>Дата заказа</th>
            <th>Имя</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Страна</th>
            <th>Город</th>
            <th>Адрес</th>
            <th>Категория</th>
            <th>Артикул</th>
            <th>BYR</th>
            <th>USD</th>
            <th>RUB</th>
        </tr>
        {% for item in orders %}
            {% for product in item.products %}
                <tr>
                    <td>{{ item.createdAt|date }}</td>
                    <td>{{ item.customerName }}</td>
                    <td><a href="mailto:{{ item.customerEmail }}">{{ item.customerEmail }}</a></td>
                    <td>{{ item.customerTelephone }}</td>
                    <td>{{ item.customerCountry }}</td>
                    <td>{{ item.customerCity }}</td>
                    <td>{{ item.customerAddress }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.article }}</td>
                    <td>{{ product.category.byrPrice }}</td>
                    <td>{{ product.category.usdPrice }}</td>
                    <td>{{ product.category.rubPrice }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <h3>Последние сообщения</h3>
    <table class="table table-striped">
        <tr>
            <th>Дата</th>
            <th>Имя</th>
            <th>Email</th>
            <th>Сообщение</th>
        </tr>
        {% for item in feedbacks %}
            <tr>
                <td>{{ item.createdAt|date }}</td>
                <td>{{ item.name }}</td>
                <td><a href="mailto:{{ item.email }}">{{ item.email }}</a></td>
                <td>{{ item.text }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
